@charset "utf-8";

@import "./global";
@import "../../node_modules/bulma/bulma";
@import "~@fortawesome/fontawesome-free/css/all.css";
@import '~bulma';
@import "forms/input";

.is-primary {
  background-color: $blue-mutual-secundary !important;
}

.is-mutual-color {
  color: $blue-mutual !important;
  background-color: $blue-mutual;
}

.is-mutual-color-secundary {
  color: $blue-mutual-secundary !important;
}

.container-custom {
  margin-right: 10px;
  margin-left: 10px;
}

p {
  font-size: 12px;
  color: $grey-main !important;
}
strong {
  color: $grey-main !important;
}
.label {
  color: $grey-main !important;
}
.mt-0 {
  margin-top: 0 !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-10 {
  margin-top: 10px !important;
}

.mt-5 {
  margin-top: 5px !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-05 {
  padding-bottom: 0.5rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pb-13 {
  padding-bottom: 1.3rem !important;
}

.pb-14 {
  padding-bottom: 14px !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pb-26 {
  padding-bottom: 26px !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pb-32 {
  padding-bottom: 32px !important;
}

.no-mt {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.table thead th{
  background-color: #144387;
  color: white;
}

.is-vcentered {
  display: flex;
  vertical-align: middle;
}
.fieldset{
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  border: 1px solid #ccc
}
.fieldset  > legend{
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  background-color: #fff;
  padding: 0 5px;
  width: max-content;
  border: 0 none
}
.modal-card-head, .modal-card-foot {
  display: initial;
  background-color: #ffffff !important;
  border: 0 !important;
}

.noselect {
  -webkit-touch-callout: none !important; /* iOS Safari */
  -webkit-user-select: none !important; /* Safari */
  -khtml-user-select: none !important; /* Konqueror HTML */
  -moz-user-select: none !important; /* Old versions of Firefox */
  -ms-user-select: none !important; /* Internet Explorer/Edge */
  user-select: none !important; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.disabled-link {
  pointer-events: auto! important;
  cursor: not-allowed! important;
}

.is-disabled {
  opacity: 0.5 !important;
  pointer-events: auto! important;
  cursor: not-allowed! important;
  -webkit-touch-callout: none !important; /* iOS Safari */
  -webkit-user-select: none !important; /* Safari */
  -khtml-user-select: none !important; /* Konqueror HTML */
  -moz-user-select: none !important; /* Old versions of Firefox */
  -ms-user-select: none !important; /* Internet Explorer/Edge */
  user-select: none !important; /* Non-prefixed version, currently */
}

.is-link {
  cursor: pointer !important;
}

.title-higher {
  color: $blue-mutual !important;
  font-size: 0.8em;
  font-weight: 700;
  line-height: 2.25;
}

.margin-tablet {
  @include tablet {
    margin-right: 10px;
  }
}

.required:after {
  content: "*";
  // color: red;
  letter-spacing: 2px;
  font-size: 14px;
  line-height: 0px;
  padding-left: 3px;
}

.fieldset{
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
  border: 1px solid #ccc
}
.fieldset  > legend{
  color: #363636;
  display: block;
  font-size: 1rem;
  font-weight: 700;
  background-color: transparent;
  padding: 0 5px;
  width: max-content;
  border: 0 none;
  text-shadow: 1px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
