.input, .select select{
  width: 100%;
  margin-top: 1px;
  border-radius: 4px !important;
  border: solid 1px #d8dce6;
  background-color: rgba(216, 220, 230, 0.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  color: #898989;
  &.is-danger {
    border-color: $danger !important;
  }
  &:focus, &:visited {
    background-color: #fff;
  }
  &.is-info {
    border-color: #38aefc;
  }
}

.select:not(.is-multiple){
  width: 100%;
}

.label {
  font-size: 11px !important;
  font-weight: bold !important;
  text-align: left;
}

.button {
  border-radius: 6px !important;
}

.textarea:not([rows]) {
  max-height: 40em;
  min-height: 8em;
  margin-top: 1px;
  border-radius: 4px !important;
  border: solid 1px #d8dce6;
  background-color: rgba(216, 220, 230, 0.3);
  -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  color: #898989;
  font-size: 12px !important;
}
