<template>
  <div class="container">
    <fieldset class="fieldset" style="width: 70%">
      <legend class="has-text-left">DEPOSITO</legend>
    <div class="column is-2-desktop is-4-mobile is-4-tablet has-text-left">
    <div class="field">
      <label class="label">Denominacion de la moneda:</label>
      <div class="select is-small" style="width: 100%">
        <select style="width: 100%" v-model="form.denom">
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="200">200</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
    </div>
    </div>
    <div class="column is-2-desktop is-4-mobile is-4-tablet has-text-left">
      <div class="field">
        <label class="label">Cantidad de monedas a depositar:</label>
        <input style="width: 50%" class="input is-small" type="number" v-model="form.cant"/>
        <span class="tag is-danger" v-if="valCant">LA CANTIDAD SELECCIONADA NO ES VALIDA. DEBE SER MAYOR A 0</span>
      </div>
    </div>
    <div class="column is-2-desktop is-4-mobile is-4-tablet has-text-left">
      <button class="button is-small is-primary" @click="save">Depositar</button>
    </div>
    </fieldset>
    <fieldset class="fieldset" style="width: 70%">
      <legend class="has-text-left">VER AHORROS</legend>
      <div class="columns mt-8">
        <div class="column is-2-desktop is-4-mobile is-4-tablet has-text-left">
          <button class="button is-small is-primary" @click="getCantMonedas()">Ver cantidad de monedas</button>
        </div>
        <div class="column is-4-desktop is-4-mobile is-4-tablet has-text-right">
          <span class="tag is-mutual-color" v-if="reqCant">LA ALCANCIA TIENE {{this.cantMonedas}} MONEDAS </span>
        </div>
      </div>
      <div class="columns mt-8">
        <div class="column is-2-desktop is-4-mobile is-4-tablet has-text-left">
          <button class="button is-small is-primary" @click="getCantDinero()">Ver cantidad de dinero ahorrado</button>
        </div>
        <div class="column is-5-desktop is-4-mobile is-4-tablet has-text-right">
          <span class="tag is-mutual-color" v-if="reqDin">LA ALCANCIA TIENE {{this.form.dinero}} AHORRADO </span>
        </div>
      </div>
      <div class="columns mt-12">
        <label class="label">Escoja la denominación:</label>
        <div class="select is-small" style="width: 10%">
          <select style="width: 100%" v-model="denom" @click="clearData()">
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
          </select>
        </div>
        <div class="column is-2-desktop is-4-mobile is-4-tablet has-text-left">
          <button class="button is-small is-primary" @click="getCantMonByDenom()">Cantidad de monedas</button>
        </div>
        <div class="column is-6-desktop is-4-mobile is-4-tablet has-text-right">
          <span class="tag is-mutual-color" v-if="reqCant2">LA ALCANCIA TIENE {{this.cantMonedas2}} DE MONEDAS DE {{this.denom}} PESOS </span>
        </div>
      </div>
      <div class="columns mt-12">
        <label class="label">Escoja la denominación:</label>
        <div class="select is-small" style="width: 10%">
          <select style="width: 100%" v-model="denom2" @click="clearData()">
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
            <option value="500">500</option>
            <option value="1000">1000</option>
          </select>
        </div>
        <div class="column is-2-desktop is-4-mobile is-4-tablet has-text-left">
          <button class="button is-small is-primary" @click="getCantDinByDenom()">Dinero por denominacion</button>
        </div>
        <div class="column is-6-desktop is-4-mobile is-4-tablet has-text-right">
          <span class="tag is-mutual-color" v-if="reqDin2">LA ALCANCIA TIENE {{this.cantDinero2}} EN MONEDAS DE {{this.denom2}} PESOS </span>
        </div>
      </div>
    </fieldset>
  </div>
</template>
<script>
import axios from 'axios'
import swal from 'sweetalert2'
export default {
  name: 'AlcanciaForm',
  data () {
    return {
      form: {
        denom: null,
        cant: null,
        dinero: null
      },
      valCant: null,
      reqCant: false,
      reqDin: false,
      reqCant2: false,
      reqDin2: false,
      denom: null,
      denom2: null,
      cantMonedas: null,
      cantDinero: null,
      cantMonedas2: null,
      cantDinero2: null
    }
  },
  methods: {
    save () {
      const endpoint = 'moneybox/depositar'
      if (this.form.cant > 0) {
        axios.post(endpoint, this.form).then(() => {
          swal.fire(
            'Deposito correcto',
            '',
            'success'
          )
        }).catch(res => {
          console.log(res.data())
          swal.fire(
            'Error al guardar',
            'Lo sentimos, ha ocurrido un error mientras se guardaba el formulario',
            'error'
          )
        })
        this.valCant = false
      } else {
        this.valCant = true
      }
    },
    getCantMonedas () {
      const endpoint = 'moneybox/conteo'
      axios.get(endpoint).then(res => {
        this.cantMonedas = res.data
        this.reqCant = true
        this.reqDin = false
      })
    },
    getCantDinero () {
      const endpoint = 'moneybox/ahorro'
      axios.get(endpoint).then(res => {
        this.form.dinero = res.data
        this.reqCant = false
        this.reqDin = true
      })
    },
    getCantMonByDenom () {
      const endpoint = `moneybox/monedasdenom/${this.denom}`
      axios.get(endpoint).then(res => {
        console.log(res.data.cant)
        this.cantMonedas2 = res.data.cant
        this.denom2 = res.data.denom
        this.reqCant = false
        this.reqDin = false
        this.reqDin2 = false
        this.reqCant2 = true
      })
    },
    getCantDinByDenom () {
      const endpoint = `moneybox/dinerodenom/${this.denom2}`
      axios.get(endpoint).then(res => {
        console.log(res.data.cant)
        this.cantDinero2 = res.data.dinero
        this.denom = res.data.denom
        this.reqCant = false
        this.reqDin = false
        this.reqCant2 = false
        this.reqDin2 = true
      })
    },
    clearData () {
      this.reqCant = false
      this.reqDin = false
      this.reqCant2 = false
      this.reqDin2 = false
    }
  }
}
</script>
<style lang="scss" scoped>
  @import "./src/styles/mixins";
  .logo {
    width: 160px;
    @include mobile {
      padding-top: 30px;
      padding-left: 20px;
    }
  }
  .title-head {
    font-size: 30px !important;
    text-align: left;
    font-weight: bold;
    color: #fff !important;
    padding-top: 10px;
    @include mobile {
      font-size: 1.2em !important;
    }
    @include tablet {
      font-size: 2.2em !important;
    }
  }
  .icon-head {
    color: #fff;
  }
  .head-form {
    background: #2C3F8E;
    height: 220px;
    margin: -10px;
  }
  .tag:not(body) {
    font-size: 0.68rem !important;
    height: 1.5em !important;
    line-height: 1.5 !important;
  }
</style>
