<template>
  <section id="loadingModal">
    <Modal classProp="model-content has-text-centered">
      <div class="la-ball-pulse-sync la-2x">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </Modal>
  </section>
</template>

<script>
import Modal from './Modal'

export default {
  name: 'LoadingModal',
  components: {
    Modal
  }
}
</script>

<style lang="scss" scoped>
@import "../../../node_modules/load-awesome/css/ball-pulse-sync.css";
.la-ball-pulse-sync {
  color: #144387 !important;
  width: 100% !important;

  & > div {
    border: 3px solid white;
  }

  & > div:nth-child(1n) {
    animation-delay: 0s;
    transform: scale(.5);
  }

  & > div:nth-child(2n) {
    animation-delay: .2s;
    transform: scale(1);
  }

  & > div:nth-child(3n) {
    animation-delay: .4s;
    transform: scale(.5);
  }
}
</style>
