<template>
  <section>
    <LoadingModal v-if="performingRequest"></LoadingModal>
    <div class="modal is-active">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <div class="columns is-mobile">
            <div class="column is-11 has-text-left">
              <p class="modal-card-title title-modal">Acceder</p>
            </div>
          </div>
        </header>
        <section class="modal-card-body">
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Número de documento: *</label>
                <div class="control has-text-left">
                  <input v-model="formData.document" type="number" class="input is-small" ref="document">
                  <span class="help is-danger" v-if="existAffiliate">
                    <span class="is-danger">
                      <i class="fas fa-exclamation-circle"></i>
                    </span>
                    El usuario no existe!
                </span>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column has-text-left">
              <div class="button continue-button is-small is-fullwidth" @click="login">CONSULTAR</div>
            </div>
          </div>
        </section>
        <footer class="modal-card-foot">
          <div class="columns is-gapless">
          </div>
        </footer>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios'
import Swal from 'sweetalert2'
import LoadingModal from '@/views/commons/LoadingModal'

export default {
  name: 'LoginModal',
  props: ['status'],
  components: { LoadingModal },
  mounted () {
    this.$refs.document.focus()
    document.addEventListener('keyup', this.actionKeyPress)
  },
  data () {
    return {
      performingRequest: false,
      existAffiliate: false,
      formData: {
        document: ''
      },
      swalOpen: false
    }
  },
  methods: {
    actionKeyPress (key) {
      try {
        if (key.keyCode === 13 && this.status) {
          if (this.formData.document !== '' && !this.swalOpen) {
            this.login()
          }
        }
      } catch (e) {
      }
    },
    login () {
      this.existAffiliate = false
      this.performingRequest = true
      const endpoint = '/cet/access/' + this.formData.document
      axios.get(endpoint).then((res) => {
        if (res.data.status === 'OK') {
          this.$store.commit('setCredentials', res.data.status)
          this.$store.commit('setCurrentUser', this.formData.document)
          this.$emit('closeLoginModal')
        } else {
          this.existAffiliate = true
          this.$store.commit('setCredentials', null)
        }
        this.performingRequest = false
      }).catch(error => {
        this.performingRequest = false
        this.$store.commit('setCredentials', null)
        if (error.response.status !== 200) {
          this.swalOpen = true
          Swal.fire(
            'Lo sentimos :(',
            'Ha ocurrido un error consultando el afiliado!',
            'error'
          ).then((result) => {
            if (result.isConfirmed) {
              this.swalOpen = false
            }
          })
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
  @import '../../styles/mixins';
  .title-modal {
    height: 28px;
    line-height: 1.17;
    font-size: 20px !important;
    color: #013f8c !important;
    @include mobile {
      font-size: 18px !important;
    }
  }
  .modal-card-head, .modal-card-foot {
    display: initial;
    background-color: #ffffff !important;
    border: 0 !important;
    padding-bottom: 0px !important;
    border-bottom: transparent !important;
    border: transparent !important;
  }
  .modal-card-body {
    padding-top: 10px !important;
    padding-bottom: 15px !important;
  }
  .modal-content, .modal-card {
    @include desktop {
      width: 400px !important;
    }
    @include tablet {
      width: 400px !important;
    }
  }
  .continue-button {
    color: #fff !important;
    background-color: $blue-mutual;
  }
</style>
