<template>
  <section id="modal">
    <transition name="fade">
      <div class="modal-request modal is-active">
        <div class="modal-background"></div>
        <div :class="classDiv">
          <slot>Text modal</slot>
        </div>
      </div>
    </transition>
  </section>
</template>

<script>
export default {
  name: 'Modal',
  props: ['classProp'],
  mounted () {},
  computed: {
    classDiv () {
      return (this.classProp) ? this.classProp : 'modal-content'
    }
  }
}
</script>

<style lang="scss" scoped>
  .modal-request {
    z-index: 100080 !important;
  }
</style>
